@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

html,
body {
  height: 100%;
  font-family: Alkatra;
}

body {
  background-color: #c3ffd2;
}

main {
  height: 100%;
  background: linear-gradient(#e0f6e0, #73d256);
}

.app-container {
  position: relative;
}

/* app list box */
.app__form,
.app__content,
.app__status-bar {
  background: #e5f8e5;
  border: 1px solid #c7c7c7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
}

img {
  width: 20px;
  height: 20px;
}

.wave-box {
  width: 100%;
  height: 200px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background: #d2fddd;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 199, 43);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  width: 160%;
  height: 1000%;
  margin-left: -600px;
  margin-top: -1800px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 4000ms infinite linear;
}

.wave.-two {
  animation: drift 8000ms infinite linear;
  opacity: 0.5;
  background: #01d340;
  width: 150%;
  margin-left: -80px;
}

.wave.-three {
  animation: drift 9000ms infinite linear;
  margin-left: -300px;
  background-color: #85c694;
}

.wave.-four {
  animation: drift 10000ms infinite linear;
  width: 150%;
  opacity: 0.3;
  background-color: #118f00;
}

.wave.-five {
  animation: drift 5000ms infinite linear;
  margin-left: 80px;
  background-color: #9dff00;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-170px);
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
}
.app .title {
  text-align: center;
  width: 100%;
  z-index: 1;
  color: #116219;
  font-size: 4em;
  font-family: Alkatra, sans-serif;
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.1);
}
.app__date {
  align-self: flex-end;
  font-size: 1.5rem;
  color: #2aba00;
  margin-right: 1rem;
}
.app__form {
  height: 50px;
  margin-bottom: 1rem;
}
.app__form > button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}
.app__form > button > img:hover {
  transform: translateY(-1px);
  filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.3));
}
.app__form > button > img:active {
  scale: 0.8;
}
.app__form input {
  border: none;
  border-bottom: 2px solid #96cc96;
  width: 100%;
  height: 30px;
  margin: 5px 10px;
  background-color: #cffbcf;
  font-family: Alkatra, sans-serif;
  font-size: 1.5rem;
  padding: 0 2rem;
  color: #116219;
}
.app__form input::placeholder {
  opacity: 0.3;
  font-family: Alkatra, sans-serif;
  font-size: 16px;
}

.app__content {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.app__content-list {
  width: 100%;
}
.app__content-list > li {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.app__content-list > li .check {
  opacity: 0.5;
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}
.app__content-list > li .check input::placeholder {
  opacity: 0.3;
  font-family: Alkatra, sans-serif;
  font-size: 16px;
  padding: 2rem;
}
.app__content-list > li .check:checked + p {
  color: green;
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}
.app__content-list > li p {
  width: 100%;
  background-color: #cffbcf;
  border-bottom: 2px solid #96cc96;
  height: 30px;
  margin: 5px 10px;
  font-size: 1.5rem;
  display: flex;
  align-items: last baseline;
  color: #2aba00;
  padding: 0 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app__content-list > li > img {
  margin-right: 1rem;
}
.app__content-list > li > img:hover {
  scale: 1.1;
}
.app__content-list > li > img:active {
  scale: 0.8;
}

.app__status-bar {
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  height: 50px;
  color: #116219;
}
.app__status-bar .task-list {
  font-size: 1.5rem;
  padding-left: 1rem;
}
.app__status-bar .task-list .task-num {
  font-size: inherit;
}
.app__status-bar .task-sort {
  display: flex;
  transform: translateX(-20%);
}
.app__status-bar .task-sort > p {
  padding: 0 3%;
  font-size: 1.5rem;
}
.app__status-bar .task-sort > p:nth-child(1) {
  color: #2aba00;
}
.app__status-bar .span-wrap {
  position: relative;
}
.app__status-bar .span-wrap span {
  position: absolute;
  top: 25px;
  left: -12px;
  text-transform: capitalize;
}
.app__status-bar .del-all {
  padding-right: 1rem;
  width: 28px;
  height: 28px;
}
.app__status-bar .del-all:hover {
  filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.3));
}
.app__status-bar .del-all:active {
  scale: 0.8;
}

@media (max-width: 601px) {
  .wave {
    width: 160%;
    height: 1000%;
    margin-left: -600px;
    margin-top: -1600px;
  }
}