.wave-box {
  width: 100%;
  height: 200px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background: #d2fddd;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.wave {
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 199, 43);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  width: 160%;
  height: 1000%;
  margin-left: -600px;
  margin-top: -1800px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 4000ms infinite linear;
}
.wave.-two {
  animation: drift 8000ms infinite linear;
  opacity: 0.5;
  background: #01d340;
  width: 150%;
  margin-left: -80px;
}
.wave.-three {
  animation: drift 9000ms infinite linear;
  margin-left: -300px;
  background-color: #85c694;
}
.wave.-four {
  animation: drift 10000ms infinite linear;
  width: 150%;
  opacity: 0.3;
  background-color: #118f00;
}
.wave.-five {
  animation: drift 5000ms infinite linear;
  margin-left: 80px;
  background-color: #9dff00;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
